/* styles.css */
GtkWindow {
    background-color: #F9F9F9;
}

GtkLabel {
    padding: 10px;
    margin: 10px;
    color: #333;
}

GtkButton {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

GtkTextView {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 5px;
}

.scrolled-window > scrollbar {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    min-width: 0;
    min-height: 0;
    opacity: 0;
}

#title_label {
    font-weight: bold;
    font-size: 18px;
    color: #689D6A;
}

#error_label {
    color: #e74c3c;
    font-size: 14px;
}

GtkFrame {
    border-width: 2px;
    border-color: #dcdcdc;
}

